= form_for @tournament do |f|
  - if @tournament.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tournament.errors.count, "error")} prohibited this tournament from being saved:"
      %ul
        - @tournament.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :game
    %br
    - Game.all.each do |g|
      = g.name
      = check_box_tag "game[]", g.id, nil, :id => "game_#{g.id}"   #variable
      %br
  .field
    = f.label :day
    = f.date_select :day
  .field
    = f.label :time_tournament_start
    = f.text_field :time_tournament_start
  .field
    = f.label :time_tournament_end
    = f.text_field :time_tournament_end
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :rules
    = f.text_field :rules
  .field
    = f.label :nb_players_max
    = f.number_field :nb_players_max
  .actions
    = f.submit 'Save'
