%p#notice= notice

%p
  %b Name:
  = @tournament.name
%p
  %b Games:
  = @tournament.games.inject(""){|t1, t2| t1+t2.name+", "}.slice(0..-3)   #t1 appelle une variable et on lui attribue la variable de t2
%p
  %b Day:
  = @tournament.day
%p
  %b Time tournament start:
  = @tournament.time_tournament_start
%p
  %b Time tournament end:
  = @tournament.time_tournament_end
%p
  %b Address:
  = @tournament.address
%p
  %b Rules:
  = @tournament.rules
%p
  %b Nb players max:
  = @tournament.nb_players_max

= link_to 'Edit', edit_tournament_path(@tournament)
\|
= link_to 'Back', tournaments_path
