%p#notice= notice

%p
  %b Tournament:
  = @game.tournament_id
%p
  %b Description:
  = @game.description
%p
  %b Platform:
  = @game.platform
%p
  %b Name:
  = @game.name

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
